body{
    display: flex;
    align-items: flex-start;
    padding: 40px;
}

.rect_wrapper{
    width: 500px;
    height: 500px;
    margin-right: 10px;
}

.rect{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-right: 200px;
    transition: all 0.3s ease;
}

.buttons{
    margin-top: 50px;
}

button{
    font-size: 16px;
    padding: 10px;
    margin-right: 20px;
}

.color{
    color: green;
    background-color: black;
    border: none;
}

.big-rect{
    width: 300px;
    height: 300px;
}

.bg-red{
    background: red;
}

.bg-green{
    background: green;
}

.bg-blue{
    background: blue;
}

.bg-white{
    background: white;
}